{% extends "base.html" %}
{% block titulo %} Nosotros {% endblock %}
{% block contenido %}
Seccion de Nosotros
<ul>
    <li><h3>Miguel Coazaca</h3></li>
    <p>Estudiante de VII semestre en Ing.Sistemas    </p>
    <p>Correo: miguel.coazaca@ucsm.edu.pe</p>

    <li><h3>Nadia Chavez</h3></li>
    <p>Estudiante de VII semestre en Ing.Sistemas    </p>
    <p>Correo: nadia.chavez@ucsm.edu.pe</p>

    <li><h3>Alexandra Zuñiga </h3></li>
    <p>Estudiante de VII semestre en Ing.Sistemas    </p>
    <p>Correo: alexandra.zuniga@ucsm.edu.pe</p>

</ul>
{% endblock %}