#villano{
    color: pink;
    font-size:small;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align:left;
}
#dios{
    color: yellow;
    font-size:small;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align:left;
}
#maxima{
    color: red;
    font-size:small;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align:left;
}
#domino{
    color: blue;
    font-size:small;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align:left;
}
#diablo{
    color: yellowgreen;
    font-size:small;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align:left;
}