<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="OpInt.css">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 1</title>
    <script src="lineup.js">
        console.log("asdf");
    </script>
</head>
<body>
    <h1>REAL MADRID</h1>
    <p>KARIM BENZEMA</p>
 
    <div> 
        <img src="https://e.rpp-noticias.io/normal/2022/10/17/450745_1331130.jpg" height="390px"> 
    </div>
    <p>CRISTIANO RONALDO</p> 
    <div> 
        <img src="https://www.mundodeportivo.com/files/image_948_465/uploads/2016/12/06/60e7a5007d305.jpeg" height="390px"> 
    </div> 
    <p>LUKA MODRIC</p>
    <div> 
        <img src="https://cdn2.celebritax.com/sites/default/files/styles/watermark_100/public/1543923219-luka-modric-gana-balon-oro-2018.jpg" height="390px"> 
    </div> 
    <a></a>
    <p><a></a></p>
    <p><a id="myAnchor" href="https://www.marca.com/futbol/balon-oro/2022/10/21/6352ce8dca474113678b45a9.html">BENZEMA BALON DE ORO 2022 </a></p>

        <p>Haz click para mas informacion sobre este JUGADOR</p>

        <button onclick="myFunction()">14</button>

        <p id="demo"></p>

</body>
</html>